# AUTH
JWT_SECRET=sercet
HASH=SHA_256
TOKEN_EXPIRE=10

# POSTGRESQL
DATABASE_URL=postgresql://postgres:password@localhost:5432/yr_mom_db
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=yr_mom_db

AWS_REGION=us-east-1
# MINIO CONFIG
MINIO_ROOT_USER=admin_user
MINIO_ROOT_PASSWORD=secure_password_
MINIO_BUCKET_NAME=veridian-assets
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
# Address of storage
STORAGE_URL=http://minio:9000