# AUTH
JWT_SECRET=your secret here
HASH=Valid hashing function here
TOKEN_EXPIRE=No. of minutes for a valid token lifespan here. E.g 67 # minutes

# Set the environment to "production" for production deployment, or "development" for local development
ENVIRONMENT=Can only be deployment or production. Switches the development settings.

FRONTEND_ORIGIN=The URL from where your frontend is being hosted
# POSTGRESQL
DB_USER=Postgres username here
DB_PASSWORD=Postgres password here
DB_NAME=Database name here
DB_PORT=Database port here
DB_HOST=Database host her
DB_SSL=true or false

NEXT_PUBLIC_API_URL=URL here

#R2 Environment vairables that are needed to connect
R2_URL= The r2 url you use
R2_ACCESS_KEY_ID= your r2 access key ID
R2_SECRET_ACCESS_KEY= your r2 access key

# All passwords for users must be atleast 1 uppercase letter, 1 lowercase, 1 special character, 1 number and 13 characters long for 
#The first admin goes here
ADMIN_NAME= Your admin's username goes here
ADMIN_EMAIL=Your admin's email goes here
ADMIN_PASSWORD=Your admin's password goes here


#Below are testing environment variables thus if you are not doing testing you don't have to fill them in

# Address of storage
STORAGE_URL=storage URL here (What ever you use to link to the minio)

#password for the E2E testing
E2E_INVESTIGATOR_NAME=E2E invest name here
E2E_INVESTIGATOR_EMAIL=E2E invest Email here
E2E_INVESTIGATOR_PASSWORD=E2E invest password here

# E2E user for testing
E2E_USER_NAME=E2E user name here
E2E_USER_EMAIL=E2E user Email here
E2E_USER_PASSWORD=E2E user password here

AWS_REGION=AWS Region here
# MINIO CONFIG
MINIO_EXTERNAL_URL=MINIO URL here
MINIO_ROOT_USER=Minio user here
MINIO_ROOT_PASSWORD=Minio password here
MINIO_API_PORT=Minio port here
MINIO_CONSOLE_PORT=Minio console port here