@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #231F20;
  --color-secondary: #3DBF79;
  --color-background: #ffffff;
  --color-text: #231F20;
  --color-dark: #231F20;
  --color-light: #a1a1a1;
  --color-error: #ef4444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-afacad);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-afacad), Arial, Helvetica, sans-serif;
}
